.badge--red {
    color: $color-red;
}

.badge--green {
    color: $color-green;
}

.badge--gray {
    color: $color-gray;
}

.badge i {
    padding: 0 10px;
}

.badge {
    font-family: monospace;
}
