.event {
  padding: 20px;
  border-right: 1px solid #242426;
  text-align: center;
  width: 50%;
}

.event__icon {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  line-height: 56px;
  display: inline-block;
  text-align: center;
  margin: 0 auto 10px;
}

.event__title {
  text-transform: uppercase;
}

.event__subject {
  color: #eee;
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px 0 10px;
}

.event__description {
  margin: 0 0 40px 0;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event__date {
  font-style: italic;
}

.event:last-child {
  border-right: 0;
}
